nodeApp/flows.json
[{"id":"2c9da74c.4f5de8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fe950bcb.d89958","type":"inject","z":"2c9da74c.4f5de8","name":"10:04","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"04 10 * * *","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["36d44fa9.6eee"]]},{"id":"abd1d122.f71b1","type":"inject","z":"2c9da74c.4f5de8","name":"13:46","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"46 13 * * *","once":false,"onceDelay":0.1,"x":170,"y":240,"wires":[["36d44fa9.6eee"]]},{"id":"3a830ed8.b683d2","type":"inject","z":"2c9da74c.4f5de8","name":"20:18","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"18 20 * * *","once":false,"onceDelay":0.1,"x":170,"y":300,"wires":[["36d44fa9.6eee"]]},{"id":"36d44fa9.6eee","type":"function","z":"2c9da74c.4f5de8","name":"get url","func":"msg.url = global.get(\"customConstants\").url;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["7df6aa44.c6aec4"]]},{"id":"7df6aa44.c6aec4","type":"http request","z":"2c9da74c.4f5de8","name":"","method":"GET","ret":"txt","url":"","x":530,"y":240,"wires":[["869b8cb2.67ed8"]]},{"id":"869b8cb2.67ed8","type":"function","z":"2c9da74c.4f5de8","name":"parse data","func":"msg.template = global.get(\"customConstants\").template;\nmsg.data = global.get(\"customFunctions\").scrape(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":240,"wires":[["17fb0fd0.dcf88"]]},{"id":"17fb0fd0.dcf88","type":"template","z":"2c9da74c.4f5de8","name":"get message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":890,"y":240,"wires":[["734cfe5d.4a4b3","b2a92299.01345"]]},{"id":"734cfe5d.4a4b3","type":"debug","z":"2c9da74c.4f5de8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":240,"wires":[]},{"id":"b2a92299.01345","type":"twitter out","z":"2c9da74c.4f5de8","name":"Tweet","x":1060,"y":300,"wires":[]}]